<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="p_nombre">
<input type="text" required [(ngModel)]="p_imagen">
<input type="number" required [(ngModel)]="p_precio">
<button class="btn btn-primary" (click)="agregarProducto()">Agregar</button>

<h2>PRODUCTOS</h2>
<div *ngFor="let producto of productos">
    <img [src]="producto.imagen" height="150px" alt="img">
    <h3>{{producto.nombre}}</h3>
    <p>Precio: {{producto.precio}}</p>
</div>

<input type="text" required [(ngModel)]="o_nombre">
<input type="text" required [(ngModel)]="o_apellido">
<input type="number" required [(ngModel)]="o_edad">
<button (click)="agregarPersona()">Agregar</button>
<table>
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let per of personas; index as i">
            <td>{{per.nombre}}</td>
            <td>{{per.apellido}}</td>
            <td>{{per.edad}}</td>
            <td><button (click)="eliminarPersona(i)">Eliminar</button></td>
        </tr>
    </tbody>
</table>

<input type="text" required [(ngModel)]="name">
<button (click)="agregarNombre()">Agregar</button>
<ul>
    <li *ngFor="let nombre of nombres; index as i">
        {{ i }} - {{ nombre }}
        <button (click)="eliminarNombre(i)">Eliminar</button>
    </li>
</ul>

<h1>*ngIf</h1>
<p *ngIf="btn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusantium nisi quo officiis. Labore commodi earum adipisci non neque ratione officia repudiandae animi excepturi nisi, ad possimus pariatur! Veniam, quidem.</p>


<h1>NG MODEL</h1>
<input type="text" [(ngModel)]="persona.nombre">
<input type="email" required #apellidoInput="ngModel" [(ngModel)]="persona.apellido">
<p>Valido: {{apellidoInput.valid}}</p>
<h1>EVENT BIDING</h1>
<button [disabled]="btn">Enviar</button>
<button (click)="cambioBoton()">Cambio</button>
<button (click)="incrementaEdad()">incrementaEdad</button>
<div>
    <p>Edad: {{persona.edad}}</p>
    <input type="text" [value]="persona.nombre" (keyup)="cambioNombre($event)">
</div>
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, omnis. Blanditiis, nostrum debitis error praesentium ex id, beatae officia quae rerum saepe, incidunt sequi nulla repellendus molestias illo pariatur ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius natus debitis blanditiis dicta hic consequatur fugit, accusantium vero corporis. Sint maiores impedit eveniet veniam harum beatae vel. Neque, incidunt obcaecati?</p>
</div>
<h1>PROPERTY BIDING</h1>
<button [disabled]="btn">Enviar</button>
<button (click)="cambioBoton()">Cambio</button>
<img [src]="imagen" height="100px" alt="img">
<div>
    <input type="text" [value]="persona.nombre">
    <input type="text" [value]="persona.apellido">
    <progress max="50" [value]="persona.edad"></progress>
    <img [src]=persona.imag height="100px" alt="img">
</div>


<h1>Hola mundooo.. nuevamente</h1>
<h2>{{titulo.repeat(6)}}</h2>
<p>la suma de 5+8 es: {{5+8}}</p>
<img src={{imagen}} alt="img">